{% extends 'base.html' %}


{% block content %}
<v-container>
  <v-card max-width="400" class="mx-auto">
    <v-card-title class="headline">Login</v-card-title>
    <v-card-text>
      <v-row>
        <v-col cols="12">
          <v-text-field
            label="Username"
            v-model="username"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <v-text-field
            label="Password"
            v-model="password"
            type="password"
          ></v-text-field>
        </v-col>
      </v-row>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        color="success"
        @click="login"
      >
        Login
      </v-btn>
    </v-card-actions>
  </v-card>
</v-container>
{% endblock %}


{% block data %}
{
  username: '',
  password: ''
}
{% endblock %}


{% block methods %}
{
  login() {
    let csrf_token = Cookies.get('csrftoken')
    this.$http.post('/api/login/', {username: this.username, password: this.password}, {headers: {'X-CSRFToken': csrf_token}})
      .then(r => window.location = '/')
      .catch(err => {
        console.log(err)
        this.$snotify.error('Invalid login, please try again', 'Failed')
      })
  }
}
{% endblock %}